<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
    <!-- 加载jdbc配置文件-->
    <context:property-placeholder location="classpath:conf/jdbc.properties"/>
    <!-- 配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--数据库连接属性 -->
        <property name="driverClass" value="${driverClass}"/>
        <property name="jdbcUrl" value="${jdbcUrl}"/>
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>

        <!-- 数据源连接配置-->
        <property name="autoCommitOnClose" value="false"/>
        <property name="checkoutTimeout" value="3000"/>
        <property name="acquireRetryAttempts" value="3"/>
        <property name="maxPoolSize" value="5"/>
        <property name="minPoolSize" value="3"/>
    </bean>

    <!--配置mybatis -->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--&lt;!&ndash; 配置数据源&ndash;&gt;-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--&lt;!&ndash;配置属性文件位置 &ndash;&gt;-->
        <!--<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>-->
        <!--&lt;!&ndash; 配置mapper文件位置&ndash;&gt;-->
        <!--<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>-->
    <!--</bean>-->

    <!-- 配置dao接口自动生成-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.zyz.dao"/>
    </bean>

<!-- 数据源-->
    <bean id="h2dataSource" class="org.h2.jdbcx.JdbcConnectionPool"
          destroy-method="dispose">
        <constructor-arg>
            <bean class="org.h2.jdbcx.JdbcDataSource">
                <!-- 内存模式 -->
                <!--<property name="URL" value="jdbc:h2:mem:/atpco_local_cache" />-->
                <!-- 文件模式 -->
                 <property name="URL" value="jdbc:h2:mem:atpco" />
                <property name="user" value="sa" />
                <property name="password" value="sa" />
            </bean>
        </constructor-arg>
    </bean>

    <!-- 初始化数据表结构 -->
    <jdbc:initialize-database data-source="h2dataSource"
                              ignore-failures="ALL">
        <jdbc:script location="classpath:h2sql/g16.sql" />
        <jdbc:script location="classpath:h2sql/tsi.sql" />
    </jdbc:initialize-database>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="h2dataSource" />
        <!--<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>-->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
        <!--<property name="plugins">-->
            <!--<list>-->
                <!--<bean-->
                        <!--class="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">-->
                    <!--<property name="dialectClass"-->
                              <!--value="com.github.miemiedev.mybatis.paginator.dialect.H2Dialect"></property>-->
                <!--</bean>-->
            <!--</list>-->
        <!--</property>-->
    </bean>
</beans>